.unity-text-element {
}

.unity-button {
    background-image: url("project://database/Assets/UI/MainMenu/ou-removebg-preview.png?fileID=2800000&guid=1dbd86ce8984eca4dab065f7c2ca8b29&type=3#ou-removebg-preview");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    background-size: 156% 294%;
    height: 33%;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    font-size: 45px;
    color: rgb(255, 231, 129);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition-duration: 5s;
    transition-delay: 10s;
}

.unity-button:hover {
    scale: 1.1 1.1;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
